@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background-color: #decba0;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 70px; /* Altura do footer mais um pouco de margem */
    font-family: 'Inter', sans-serif;
}

.card_form{
    display: flex;
    position: relative;
    border: 2px, solid;
    border-color: #594461;
    border-radius: 15px;
    background-color: white;
    justify-content: center;
    padding: 2em 5em;
    
}

h2{
    font-size: 40px;
    color:#594461;
}

button{
    background-color: #594461;
    border-radius: 15px;
    padding: 1em;
    border: 2px, solid;
    border-color: #594461;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color:#6e1538;
    color:#fff;
}

input{
    font-size: 15px;
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
}

label{
    font-size: 25px;
    color:#594461
}
.form_input{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    align-items: center;
}
footer{
    width: 100%;
    position: fixed;
    border: #594461;
    background-color: #594461;
    color: #fff;
    bottom: 0;
    padding: 10px;
    left: 0;
    text-align: center;
}   

select, option{
    background-color: #fff;
    width: 100%;
    color: #594461;
    padding: 0.5em;
    font-size:20px
}
p{
    color: #fff;
}

.senha{
    color:#594461;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

h1{
    font-size:40px;
    font-weight: 700;
    color:#594461
}